*{
   margin: 0;
   padding: 0; 
   
  }


a{
    text-decoration: none;
    color: yellow;
  }
  
a:hover{
  text-decoration: underline;  
    }
  
body{
    background-image: url('https://cdn.wallpapersafari.com/41/62/i8RVNg.jpg');
    font-family: trajan pro;
    color: whitesmoke;
  }

header{
  height: 100vh;
}

.menu{
    background-color: grey;
  }
  
.menu li{
    list-style: none;
  }
  
.menu ul{
    display: flex;
    justify-content: space-evenly;
  }
  
.site-title{
    text-align: center;
  }
  
.site-subtitle{
    text-align: center;
  }

.img-portfolio{
   height: 180px;
   width: 180px;
  }
  